.editor-txt {
  line-height: $editor-txt-line-height;

  &.columns {
    column-count: 2;
    column-width: 300px;
    column-gap: spacer(lg);
  }

  :first-child:not(.btn) {
    margin-top: 0px;
  }
  :last-child:not(.btn) {
    margin-bottom: 0px;
  }

  h1 {
    font-size: $h1-font-size;
    font-weight: $h1-font-weight;
    line-height: $h1-line-height;
    font-family: $h1-font-family;
    margin-bottom: spacer(rg);
    margin-top: spacer(rg);
  }

  h2 {
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
    line-height: $h2-line-height;
    font-family: $h2-font-family;
    margin-bottom: spacer(rg);
    margin-top: spacer(rg);
  }

  h3 {
    font-size: $h3-font-size;
    font-weight: $h3-font-weight;
    line-height: $h3-line-height;
    font-family: $h3-font-family;
    margin-bottom: spacer(rg);
    margin-top: spacer(rg);
  }

  h1 + h2,
  h2 + h3 {
    margin-top: spacer(md);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    outline: none;
    padding-right: 25px;

    .header-anchor {
      display: none;

      &__symbol img {
        display: inline;
        width: 24px;
      }

      &:hover {
        text-decoration: none;
      }
    }

    &:hover {
      .header-anchor {
        display: inline;
      }
    }
  }

  p {
    margin-bottom: spacer(rg);

    &:empty {
      display: none;
    }
  }

  a:not(.btn) {
    color: $color-primary;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  .highlight,
  strong {
    font-weight: $fw-bold;
  }

  em {
    font-style: italic;
  }

  ul,
  ol {
    padding-left: 0px;
    margin-bottom: spacer(rg);
    line-height: 2;
  }

  ol {
    padding-left: 20px;
  }

  ul li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    list-style-type: none;

    &::before {
      content: '';
      position: absolute;
      top: calc((2em - 10px) / 2);
      left: 0;
      display: block;
      width: 10px;
      height: 10px;
      border-width: 3px;
      border-style: solid;
      border-color: var(--bd-primary);
      border-radius: 50%;
    }
  }

  ol li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 10px;
    list-style-type: decimal;
    list-style-position: outside;
  }

  blockquote {
    border-left: 5px solid $color-primary;
    padding: spacer(sm) 0 spacer(sm) spacer(md);
    margin-bottom: spacer(rg);
    font-size: 18px;
    line-height: 1.2;
  }

  img {
    display: block;
    width: 100%;
    margin-bottom: spacer(rg);
  }

  pre {
    background-color: $color-black;
    margin-bottom: spacer(rg);
    border-radius: rs(sm);
  }

  pre code {
    display: block;
    padding: 1.5em;
    background: none;
    white-space: pre;
    color: $color-white;
    font-size: 1em;
    font-family: monospace;
    text-align: left;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: inherit;
    overflow-x: auto;
  }

  p code {
    padding: 0.1em 0.2em;
    font-family: monospace;
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 4px;
  }

  p img {
    border-radius: rs(sm);
    width: auto;
    margin: 0 auto;
  }

  /*
    .##.....##..#######..########..####.##.......########
    .###...###.##.....##.##.....##..##..##.......##......
    .####.####.##.....##.##.....##..##..##.......##......
    .##.###.##.##.....##.########...##..##.......######..
    .##.....##.##.....##.##.....##..##..##.......##......
    .##.....##.##.....##.##.....##..##..##.......##......
    .##.....##..#######..########..####.########.########
    */
  @media only screen and (max-width: $phone) {
    line-height: $editor-txt-line-height-sm;

    h1 {
      font-size: $h1-font-size-mobile;
      margin-top: spacer(sm);
      margin-bottom: spacer(sm);
    }

    h2 {
      font-size: $h2-font-size-mobile;
      margin-top: spacer(sm);
      margin-bottom: spacer(sm);
    }

    h3 {
      font-size: $h3-font-size-mobile;
      margin-top: spacer(sm);
      margin-bottom: spacer(sm);
    }

    ul,
    ol {
      line-height: 1.5;
    }

    ul li {
      &::before {
        top: calc((1.5em - 10px) / 2);
      }
    }

    blockquote {
      font-size: 18px;
      padding: spacer(sm) 0 spacer(sm) spacer(rg);
    }
  }
  //Mobile
}
//editorTxt
