<meta name="description" content="Personal website with various articles on all sorts of topics related to frontend development">
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@maartentibau" />
<meta name="twitter:creator" content="@maartentibau" />
<meta name="twitter:title" content="Maarten Tibau" />
<meta name="twitter:description" content="Personal website with various articles on all sorts of topics related to frontend development" />
<meta name="twitter:image" content="{{ '/static/meta/twitter-image-800x418.jpg' | buildUrl(true) }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Maarten Tibau" />
<meta property="og:description" content="Personal website with various articles on all sorts of topics related to frontend development" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="{{ '/static/meta/twitter-image-800x418.jpg' | buildUrl(true) }}" />
