{% if title %}
  <meta property="og:title" content="{{ title }} - {{ site.name }}" />
{% else %}
  <meta property="og:title" content="{{ site.name }}" />
{% endif %}
<meta property="og:description" content="{{ description }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
{% if imageSocials %}
  <meta property="og:type" content="article" />
  <meta property="og:image" content="{{ imageSocials | buildMetaImage }}" />
{% else %}
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ '/static/meta/maarten.be-1200x1200.webp' | buildUrl(true) }}" />
{% endif %}
