<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@maartentibau" />
<meta name="twitter:creator" content="@maartentibau" />
<meta name="twitter:description" content="{{ description }}" />
{% if title %}
  <meta name="twitter:title" content="{{ title }} - {{ site.name }}" />
{% else %}
  <meta name="twitter:title" content="{{ site.name }}" />
{% endif %}
{% if imageSocials %}
  <meta name="twitter:image" content="{{ imageSocials | buildMetaImage }}" />
  <meta name="twitter:label1" content="Written by">
  <meta name="twitter:data1" content="Maarten Tibau">
  <meta name="twitter:label2" content="Published on">
  <meta name="twitter:label2" content="{{ date | formatDate }}">
{% else %}
  <meta name="twitter:image" content="{{ '/static/meta/maarten.be-1200x1200.webp' | buildUrl(true) }}" />
{% endif %}

