@font-face {
  font-family: 'icons';
  src:
    url('fonts/icons.ttf?kfbh6r') format('truetype'),
    url('fonts/icons.woff?kfbh6r') format('woff'),
    url('fonts/icons.svg?kfbh6r#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon:before {
  content: "\e900";
}
.icon-sun:before {
  content: "\e901";
}
.icon-arrow-left-long:before {
  content: "\e902";
}
.icon-arrow-right-long:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e90c";
}
.icon-arrow-up:before {
  content: "\e90d";
}
.icon-arrow-left:before {
  content: "\e90e";
}
.icon-arrow-right:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e904";
}
.icon-carret-down:before {
  content: "\e905";
}
.icon-carret-up:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e910";
}
.icon-youtube:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-whatsapp:before {
  content: "\e911";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-linkedin:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e90b";
}
.icon-github:before {
  content: "\e912";
}
