$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-moon: "\e900";
$icon-sun: "\e901";
$icon-arrow-left-long: "\e902";
$icon-arrow-right-long: "\e903";
$icon-arrow-down: "\e90c";
$icon-arrow-up: "\e90d";
$icon-arrow-left: "\e90e";
$icon-arrow-right: "\e90f";
$icon-search: "\e904";
$icon-carret-down: "\e905";
$icon-carret-up: "\e906";
$icon-mail: "\e910";
$icon-youtube: "\e908";
$icon-facebook: "\e907";
$icon-whatsapp: "\e911";
$icon-instagram: "\e909";
$icon-linkedin: "\e90a";
$icon-twitter: "\e90b";
$icon-github: "\e912";

