<section class="bg-grey-3 pt-xl pb-xl">
  <div class="row">
    <p class="ta-c mb-md">
      <strong class="d-b fw-medium f-xxxl f-xxl@sm">Want to know more?</strong>
      <span class="fw-light f-xxl f-xl@sm">Let’s get in touch!</span>
    </p>

    <ul class="socials f-xl center f-lg@sm">
      <li><a href="mailto:hello@maarten.be"><i class="icon-mail"></i></a></li>
      <li><a href="https://twitter.com/maartentibau" target="_blank" rel="noopener noreferrer"><i
            class="icon-twitter"></i></a></li>
      <li><a href="https://be.linkedin.com/in/maartentibau" target="_blank" rel="noopener noreferrer"><i
            class="icon-linkedin"></i></a></li>
      <li><a href="https://github.com/maartentibau" target="_blank" rel="noopener noreferrer"><i
            class="icon-github"></i></a></li>
    </ul>
  </div>
</section>
